body {
    width: 1280px;
    height: 800px;
    background-color: #333333;
    color: #d9d9d9;
}
img {
    width: 130px;
    height: 130px;
}
img:hover {
    width: 129px;
    height: 129px;
    border: 1px solid #b30000;
    cursor: pointer;
}
.front {
    position: absolute;
    opacity: 60;
}

.invisible {
    visibility: hidden;
}

h1 {
    text-align: center;
}
#h21 {
    position: absolute;
    left: 1100px;
    top: 10px;
    text-decoration: underline;
}
#h22 {
    position: absolute;
    left: 1100px;
    top: 60px;
}

#h21:hover {
    cursor: pointer;
}
#h22:hover {
    cursor: pointer;
}
#h23:hover {
    cursor: pointer;
}
#game-area {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.isHidden {
    display: none !important;
}
/*Felder für die verschiedenen Schwierigkeitsgrade:*/
#easy-cards {
    display: flex;
    width: 620px;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 20px;
    color: white;
}
#medium-cards {
    display: flex;
    width: 1200px;
    height: 290px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}
#hard-cards {
    display: flex;
    width: 1200px;
    height: 550px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}

/*Buttons und Text unterhalb des Spielfelds:*/

#announce {
    color: white;
    font-size: large;
    opacity: 0;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.line2 {
    position: absolute;
}
#player {
    margin-left: 220px;
    font-size: large;
}
#p-number {
    margin-left: 295px;
    color: lightblue;
    font-size: large;
}
#Stufe {
    margin-left: 399px;
    font-size: large;
}
#einfach {
    margin-left: 500px;
}
#normal {
    margin-left: 610px;
}
#schwer {
    margin-left: 740px;
}
#com {
    margin-left: 890px;
    font-size: large;
}
#c-number {
    margin-left: 965px;
    color: orange;
    font-size: large;
}

#einfach:hover{
    cursor: pointer;
    color: orangered;
}
#normal:hover{
    cursor: pointer;
    color: orangered;
}
#schwer:hover{
    cursor: pointer;
    color: orangered;
}

#new-game {
    margin-left: 600px;
}
#new-game:hover {
    cursor: pointer;
    color: white;
    background: rgba(0, 255, 255, 0);
}
footer {
    margin-top: 20px;
    padding-bottom: 15px;
    border-top: 4px solid rgb(230, 230, 230);
}
#footer {
    text-align: center;
}
a {
    color: blanchedalmond;
}