body {
    width: 1280px;
    height: 800px;
    background-color: #333333;
    color: #d9d9d9;
}
img {
    width: 130px;
    height: 130px;
}
img:hover {
    width: 129px;
    height: 129px;
    border: 1px solid #b30000;
    cursor: pointer;
}
.front {
    position: absolute;
    opacity: 60;
}

.invisible {
    visibility: hidden;
}

h1 {
    text-align: center;
}
#h21 {
    position: absolute;
    left: 90%;
    top: 10px;
    text-decoration: underline;
}
#h22 {
    position: absolute;
    left: 90%;
    top: 60px;
}
#h23 {
    position: absolute;
    left: 85%;
    top: 110px;
}
#game-area {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.isHidden {
    display: none !important;
}
/*Felder für die verschiedenen Schwierigkeitsgrade:*/
#easy-cards {
    display: flex;
    width: 620px;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 20px;
}
#medium-cards {
    display: flex;
    width: 1200px;
    height: 290px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}
#hard-cards {
    display: flex;
    width: 1200px;
    height: 550px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}

/*Buttons und Text unterhalb des Spielfelds:*/
#unten {
    display: inline-block;
}

#einfach:hover{
    cursor: pointer;
    color: cyan;
}
#normal:hover{
    cursor: pointer;
    color: cyan;
}
#schwer:hover{
    cursor: pointer;
    color: cyan;
}

#new-game:hover {
    cursor: pointer;
    color: white;
}

a {
    color: blanchedalmond;
}